@import uk.gov.hmrc.capmovie.models.MovieRegTitle
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)
@(form: Form[MovieRegTitle])(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some("Title Page"), isLoggedIn = true) {

@if(form.errors.nonEmpty) {
@defining(form.errors.map { error =>
ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
}) {errorLinks => @govukErrorSummary(ErrorSummary(
errorList = errorLinks,
title = Text(messages("There is a problem"))
))
}
}
@helper.form(uk.gov.hmrc.capmovie.controllers.routes.MovieTitleController.submitMovieTitle()) {
<div class="govuk-form-group">
    @if(form.errors("title").nonEmpty) {
    @govukInput(Input(
    id = "title",
    name = "title",
    hint = Some(Hint(content = Text(""))),
    errorMessage = Some(ErrorMessage(
    content = Text("What is the title of the movie?"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--l",
    content = Text("title")
    )
    ))
    } else {
    @govukInput(Input(
    id = "title",
    name = "title",
    hint = Some(Hint(content = Text(""))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--l",
    content = Text("What is the title of the movie?")
    )
    ))
    }
    <br>
    <button id="next-button" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</div>
}
}