@import uk.gov.hmrc.capmovie.models.MovieReg
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)
@(genresList: List[String], isSessionUpdate: Boolean, isUpdate: Boolean, movieId: String )(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some("Genres Confirmation Page")) {

@if(isUpdate == true) {
<div>
    <h1 class="govuk-heading-l">Check your list of genres before continuing</h1>

    <dl id="genres-list" class="govuk-summary-list govuk-!-margin-bottom-9">
        @for((genre,index) <- genresList.zipWithIndex) {
        <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value genre">
                @genre
            </dd>
            <dd class="govuk-summary-list__actions">
                <a id=genre[@index] class="govuk-link" href="http://localhost:9000/capmovie/update/@movieId/genre/@genre">
                    Remove<span class="govuk-visually-hidden">@genre</span>
                </a>
            </dd>
        </div>
        }
    </dl>
</div>

<br>
<h2 class="govuk-heading-m">Accept and continue or add another genre</h2>
<a id="add-another" href="http://localhost:9000/capmovie/update/@movieId/genre " class="govuk-link">Add another genre</a>
<br>
<br>
<a id="next-button" class="govuk-button" href="@uk.gov.hmrc.capmovie.controllers.routes.MovieRatingController.getUpdateAgeRating(movieId)">
    Continue
</a>

} else {
<div>
    <h1 class="govuk-heading-l">Check your list of genres before continuing</h1>

    <dl id="genres-list" class="govuk-summary-list govuk-!-margin-bottom-9">
        @for((genre,index) <- genresList.zipWithIndex) {
        <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value genre">
                @genre
            </dd>
            <dd class="govuk-summary-list__actions">
                @if(isSessionUpdate){
                <a id=genre[@index] class="govuk-link" href="http://localhost:9000/capmovie/movie-genres/confirmation/@genre/true">
                    Remove<span class="govuk-visually-hidden">@genre</span>
                </a>
                } else {
                <a id=genre[@index] class="govuk-link" href="http://localhost:9000/capmovie/movie-genres/confirmation/@genre/false">
                Remove<span class="govuk-visually-hidden">@genre</span>
            </a>
                }
            </dd>
        </div>
        }
    </dl>
</div>

<br>
<h2 class="govuk-heading-m">Accept and continue or add another genre</h2>
@if(isSessionUpdate){
<a id="add-another" href="http://localhost:9000/capmovie/movie-genres/true" class="govuk-link">Add another genre</a>
} else { <a id="add-another" href="http://localhost:9000/capmovie/movie-genres/false" class="govuk-link">Add another genre</a>

}
<br>
<br>
@if(isSessionUpdate){
<a id="next-button" class="govuk-button" href="@uk.gov.hmrc.capmovie.controllers.routes.MovieSummaryController.getSummary(true)">
    Continue
</a>
} else { <a id="next-button" class="govuk-button" href="@uk.gov.hmrc.capmovie.controllers.routes.MovieRatingController.getAgeRating(false)">
    Continue
</a>
}
}
}
