@import uk.gov.hmrc.capmovie.models.MovieReg
@import helper._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukErrorSummary : GovukErrorSummary)
@(result:MovieReg)(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some("Summary")) {

<a href="@uk.gov.hmrc.capmovie.controllers.routes.MovieRatingController.getAgeRating" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Summary of details</h1>

<div id="with-hint-hint" class="govuk-hint">
    Below are the details you entered. If these are correct press submit to continue or back to alter details.


</div>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Title:
            </dt>
            <dd id="title-value" class="govuk-summary-list__value">
                @result.title
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> title</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Genres:
            </dt>
            <dd id="genres-value" class="govuk-summary-list__value">
                @result.genres
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> genres</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Age rating:
            </dt>
            <dd id="age-rating-value" class="govuk-summary-list__value">
                @result.rated
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> age rating</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Plot:
            </dt>
            <dd id="plot-value" class="govuk-summary-list__value">
                @result.plot
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> plot</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Poster:
            </dt>
            <dd id="poster-value" class="govuk-summary-list__value">
                @result.poster
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> poster</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Cast:
            </dt>
            <dd id="cast-value" class="govuk-summary-list__value">
                @result.cast
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> cast</span>
                </a>
            </dd>
        </div>
    </dl>
<form action="@uk.gov.hmrc.capmovie.controllers.routes.MovieSummaryController.submitSummary()">
    <button id="next-button" class="govuk-button" data-module="govuk-button">Submit</button>
</form>
}

